DATABASE_URL="postgresql://postgres:password@localhost:5432/better-admin"

BETTER_AUTH_BASE_URL=
BETTER_AUTH_SECRET=

# Better Auth Keycloak Provider
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=

# Better Auth Microsoft Provider
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# Better Auth Discord Provider
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Better Auth Github Provider
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Better Auth Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NOTE:
# In your OAuth2 apps, set callback/redirect URIs to`http://localhost:3000/api/auth/callback/<provider>`
# e.g. http://localhost:3000/api/auth/callback/github